$white: #ffffff;

$theme-colors: (
  "light": #e7ecf4,
  "dark": #050112,
  "primary": #20244c,
  "secondary": #0046e6,
  "info": #7f7efa,
  "success": #009757,
  "warning": #dec800,
  "danger": #eb1b00,
);
@import "bootstrap/scss/bootstrap";

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

body {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.preview-container {
  min-width: 874px;
  min-height: 620px;
}
