$white: #ffffff;

$theme-colors: (
    "light":      #dbe5ec,
    "dark":       #000000,
    "primary":    #0faccd,
    "secondary":  #0273ba,
    "info":       #278f46,
    "success":    #01b159,
    "warning":    #eccc01,
    "danger":     #fb0021,
);
@import "bootstrap/scss/bootstrap";

.preview-container {
  min-width: 874px;
  min-height: 620px;
}
