$white: #ffffff;

$theme-colors: (
    "light":      #dbe5ec,
    "dark":       #000000,
    "primary":    #0faccd,
    "secondary":  #0273ba,
    "info":       #278f46,
    "success":    #01b159,
    "warning":    #eccc01,
    "danger":     #fb0021,
);
@import "bootstrap/scss/bootstrap";

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

body {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.preview-container {
  min-width: 874px;
  min-height: 620px;
}
